$color-primary: hsl(322, 100%, 66%);
$color-secondary : hsl(207, 100%, 98%); 
$color-tertiary : hsl(192, 100%, 9%);

//DEFAULT FONT SIZE
$font-size-base:  0.625rem;

//GRID
$grid-columns:      12;
$grid-gutter-width: 30px;