.sectionDoes {

   background-image: url(../img/bg-section-top-desktop-1.svg);
   background-position: bottom;
   background-size: 100% auto;
   background-repeat: no-repeat;
   padding-bottom: 30rem;

   @include respond(smdev){
    padding-bottom: 10rem;
    }

    &__image {
        width: 114rem;
        margin-bottom: 8rem;

        @include respond(smdev){
            margin-bottom: 20rem;
        }
    }

    &__wrapper {
        display: inline-block;

        @include respond(smdev){
            margin-bottom: 15rem;
        }

        &--image {
            width: 4.7rem;
            text-align: left;
            display: block;

            @include respond(smdev){
                width: 5.3rem;
            }
        }

        &--count {
            font-size: 10rem;
            font-family: "OpenSans Bold";
            color: $color-tertiary;
            margin-bottom: 1.5rem;

            @include respond(smdev){
                font-size: 12rem;
            }
        }

        &--label {
            font-size: 2.7rem;
            color: $color-tertiary;
            text-transform: capitalize;
            opacity: 0.5;

            @include respond(smdev){
                font-size: 3.2rem;
            }
        }
    }
}