.sectionFlowing {
    background-color:#fff; 
    margin-top: -0.2rem;
    padding-top: 40rem;
    padding-bottom: 29rem;

    background-image: url(../img/bg-section-bottom-desktop-1.svg), url(../img/bg-section-top-desktop-2.svg);
    background-position: top, bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;

    @include respond-below(md){
        background-image: url(../img/bg-section-bottom-mobile-1.svg), url(../img/bg-section-top-mobile-2.svg);
    }

   &__wrapper {

        @include respond-below(md){
            text-align: center;
        }

        &--heading {
            font-family: "Poppins";
            font-size: 4.5rem;
            text-transform: capitalize;
            margin-bottom: 3.5rem;
            color: $color-tertiary;
        }

        &--sub {
            display: inline-block;
            max-width: 60rem;
            font-family: "OpenSans Semi Bold";
            font-size: 1.8rem;
            color: $color-tertiary;
            opacity: 0.9;

            @include respond-below(md){
                font-size: 2.5rem;
            }
        }
    }

    &__image {
        width: 60rem;

        @include respond-below(md){
            margin-bottom: 15rem;
        }
    }
}