.sectionReadyBuild {
    background-image: url(../img/bg-section-bottom-desktop-2.svg), url(../img/bg-footer-top-desktop.svg);
    background-position: top, bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: -0.2rem;
    
    padding-top: 30rem;
    padding-bottom: 40rem;

    @include respond-below(md){
        background-image: url(../img/bg-section-bottom-mobile-2.svg), url(../img/bg-footer-top-mobile.svg);
        padding-bottom: 50rem;
    }

    &__wrapper {
        text-align: center;

        &--heading {
            font-family: "Poppins";
            font-size: 5rem;
            text-transform: capitalize;
            margin-bottom: 4rem;
            color: $color-tertiary;

            @include respond-below(md){
                margin-bottom: 8rem;
            }
        }
    }
}