*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: $font-size-base;

    @include respond(xsdev){
        font-size: 0.4rem;
    }

    @include respond(smdev){
        font-size: 0.325rem;
    }

}

body {
    font-family: "OpenSans";
    color: $color-tertiary;
    box-sizing: border-box;
}