@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans Semi Bold";
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: "OpenSans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}