$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 375px,
  // Medium screen / tablet
  md: 811px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1140px
);

$container-max-widths: (
  sm: 339px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);